<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>header</title>
</head>

<body>
	<div id="content" th:fragment="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/">主页</a></li>
					<li class="current">用户管理</li>
				</ul>

			</div>
			<!-- /Breadcrumbs line -->

			<!--=== Page Header ===-->
			<div class="page-header">
				<div class="page-title">
					<span th:inline="text">欢迎使用，[[${#httpServletRequest.remoteUser}]]!</span>
				</div>

			</div>
			<!-- /Page Header -->

			<!--=== Page Content ===-->

			<div class="row">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 用户编辑
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs collapse"><i
										class="icon-angle-down"></i></span>
								</div>
							</div>
						</div>
						<div class="content no-padding">
							<form action="#" th:action="@{/admin/clientuser/edit}"
								th:object="${clientuserEdit}" method="post" >
								<input type="hidden" th:field="*{id}" />
								<input type="hidden" th:field="*{userid}" />
								<input type="hidden" th:field="*{createtime}" />
								<input type="hidden" th:field="*{lastlogintime}" />
								<p>
									<label style="width: 80px; vertical-align: middle">会员名:
									</label> <input type="text" style="width: 700px;" th:field="*{username}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">密码:
									</label><input type="text" style="width: 700px;" th:field="*{password}" />
								</p>								
								<p>
									<label style="width: 80px; vertical-align: middle">手机号:
									</label><input type="text" style="width: 700px;" th:field="*{phone}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">问题:
									</label><input type="text" style="width: 700px;" th:field="*{question}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">答案:
									</label><input type="text" style="width: 700px;" th:field="*{answer}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">类型:
									</label><input type="text" style="width: 700px;"
										th:field="*{role}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">状态:</label>
									<input type="text" style="width: 700px;" th:field="*{status}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">备注:
									</label><input type="text" style="width: 700px;" th:field="*{remark}" />
								</p>
								<p>
									<input type="submit" value="提交" /> <input type="reset"
										value="重置" />
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>

</body>
</html>