<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>header</title>
</head>

<body>
	<div id="content" th:fragment="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/">主页</a></li>
					<li class="current">推荐文管理</li>
				</ul>

			</div>
			<!-- /Breadcrumbs line -->

			<!--=== Page Header ===-->
			<div class="page-header">
				<div class="page-title">
					<span th:inline="text">欢迎使用，[[${#httpServletRequest.remoteUser}]]!</span>
				</div>

			</div>
			<!-- /Page Header -->

			<!--=== Page Content ===-->

			<div class="row">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 增加推荐文
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs collapse"><i
										class="icon-angle-down"></i></span>
								</div>
							</div>
						</div>
						<div class="content no-padding">
							<form action="#" th:action="@{/admin/essayinfo/edit}"
								th:object="${essayinfoAdd}" method="post" enctype="multipart/form-data">
								<input type="hidden" th:field="*{essayid}" />
								<input type="hidden" th:field="*{createtime}" />
								<input type="hidden" th:field="*{updateby}" />
								<input type="hidden" th:field="*{detailpic1}" />
								<input type="hidden" th:field="*{detailpic2}" />
								<input type="hidden" th:field="*{detailpic3}" />
								<input type="hidden" th:field="*{detailpic4}" />
								<p>
									<label style="width: 80px; vertical-align: middle">标题:
									</label> <input type="text" style="width: 700px;" th:field="*{name}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">副标题:
									</label><input type="text" style="width: 700px;" th:field="*{subtitle}">
									</input>
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">作者:
									</label><input type="text" style="width: 700px;" th:field="*{author}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">商品号:
									</label><input type="text" style="width: 700px;" th:field="*{proid}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">片段1:
									</label><input type="text" style="width: 700px;" th:field="*{detailtext1}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">图片1:
									</label><img th:src="*{detailpic1}" width="50" height="50" />
									<label style="width: 80px; vertical-align: middle"> </label><input type="file" name="file1" style="width:700px;" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">片段2:
									</label><input type="text" style="width: 700px;" th:field="*{detailtext2}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">图片2:
									</label><img th:src="*{detailpic2}" width="50" height="50" />
									<label style="width: 80px; vertical-align: middle"> </label><input type="file" name="file2" style="width:700px;" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">片段3:
									</label><input type="text" style="width: 700px;" th:field="*{detailtext3}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">图片3:
									</label><img th:src="*{detailpic3}" width="50" height="50" />
									<label style="width: 80px; vertical-align: middle"> </label><input type="file" name="file3" style="width:700px;" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">片段4:
									</label><input type="text" style="width: 700px;" th:field="*{detailtext4}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">图片4:
									</label><img th:src="*{detailpic4}" width="50" height="50" />
									<label style="width: 80px; vertical-align: middle"> </label><input type="file" name="file4" style="width:700px;" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">状态:
									</label><input type="text" style="width: 700px;" th:field="*{status}" >
									</input>
								</p>
								<p>
									<input type="submit" value="提交" /> <input type="reset"
										value="重置" />
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>

</body>
</html>