<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>header</title>
</head>

<body>
	<div id="content" th:fragment="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/">主页</a></li>
					<li class="current">咨询管理</li>
				</ul>

			</div>
			<!-- /Breadcrumbs line -->

			<!--=== Page Header ===-->
			<div class="page-header">
				<div class="page-title">
					<span th:inline="text">欢迎使用，[[${#httpServletRequest.remoteUser}]]!</span>
				</div>

			</div>
			<!-- /Page Header -->

			<!--=== Page Content ===-->

			<div class="row">
				<div class="col-md-12">
					<div class="widget box">
						<div class="widget-header">
							<h4>
								<i class="icon-reorder"></i> 增加咨询
							</h4>
							<div class="toolbar no-padding">
								<div class="btn-group">
									<span class="btn btn-xs collapse"><i
										class="icon-angle-down"></i></span>
								</div>
							</div>
						</div>
						<div class="content no-padding">
							<form action="#" th:action="@{/admin/zixun/edit}"
								th:object="${zixunAdd}" method="post" enctype="multipart/form-data">
								<input type="hidden" name="updateby" th:field="*{updateby}" />
								<p>
									<label style="width: 80px; vertical-align: middle">名称:
									</label> <input type="text" style="width: 700px;" th:field="*{name}" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">左图片:
									</label><img th:src="*{leftpic}" width="150" height="50" />
									<label style="width: 80px; vertical-align: middle"> </label><input type="file" name="file" style="width:700px;" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">右图片:
									</label><img th:src="*{rightpic}" width="50" height="50" />
									<label style="width: 80px; vertical-align: middle"> </label><input type="file" name="file1" style="width:700px;" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">视频地址:
									</label><input type="text" style="width: 700px;" th:field="*{videourl}" />
									<label style="width: 80px; vertical-align: middle"> </label><input type="file" name="file2" style="width:700px;" />
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">分类:
									</label><input type="text" style="width: 700px;" list="typelist" th:field="*{typestr}" >
									<datalist id="typelist">
										<option>商学院</option>
										<option>影视文化</option>
										<option>门店课程</option>
										<option>系统培训</option>
										<option>加盟政策</option>
									</datalist>
									</input>
								</p>
								<p>
									<label style="width: 80px; vertical-align: middle">状态:
									</label><input type="text" style="width: 700px;" list="statuslist" th:field="*{statusstr}" >
									<datalist id="statuslist">
										<option>上架</option>
										<option>下架</option>
									</datalist>
									</input>
								</p>
								<p>
									<input type="submit" value="提交" /> <input type="reset"
										value="重置" />
								</p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<!-- /.row -->
			<!-- /Page Content -->
		</div>
		<!-- /.container -->

	</div>

</body>
</html>